name: docker-run-tests
on: 
  push: 
    branches: [master]
jobs: 
  run-tests: 
    runs-on: ubuntu-latest 
    name: Run React tests 
    steps: 
      - name: Check out Repo 
        uses: actions/checkout@v2 
      - name: Login to Docker Hub 
        uses: docker/login-action@v1
        with: 
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Set up Docker Buildx 
        id: buildx 
        uses: docker/setup-buildx-action@v1 
      - name: build 
        run: docker build -t alinisarahmed/docker-react-temp -f Dockerfile.dev . 
      - name: test 
        run: docker run -e CI=true alinisarahmed/docker-react-temp npm run test
      - name: Tag our Image
        run: docker tag alinisarahmed/docker-react-temp alinisarahmed/docker-react-temp:latest
      - name: Push to Docker Hub 
        run: docker push alinisarahmed/docker-react-temp
      - name: Generate a deployment package 
        run: zip -r deploy.zip . -x '*.git'
      - name: Deploy to EB 
        uses: einaregilsson/beanstalk-deploy@v18
          with:
            aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
            aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            application_name: docker-react-temp
            environment_name: Dockerreacttemp-env
            version_label: 12345
            region: us-west-2
            deployment_package: deploy.zip
